<div id="<%= dom_id seller %>">
  <p>
    <strong>First name:</strong>
    <%= seller.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= seller.last_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= seller.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= seller.city %>
  </p>

  <p>
    <strong>District:</strong>
    <%= seller.district %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= seller.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= seller.phone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= seller.mail %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= seller.bio %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= seller.profile_picture %>
  </p>

</div>
