<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_type %>
  </p>


  <!-- Delete button for the product -->
  <%= form_with(model: product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }) do |form| %>
    <%= form.submit 'Delete Product', class: 'btn btn-danger' %>
  <% end %>

</div>
